body{
    margin: 0;
    font-family: sans-serif;
}
.header{
    background-color: rgba(29, 66, 177, 0.464);
    height: 50px;
    font-size:3em;
    color: rgb(108, 1, 1);
    padding: 20px;
    text-align: right;
}
.logo{
    height: 100px;
    margin: auto;
    display: flex;
    position: absolute;
    top: 3%;
    left:43%;
    
}
.form{
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.emailinput{
    width: 100%;
    border: none;
    border-bottom: 1px solid whitesmoke;
    font-size:1.5em;
    text-align: center;
    height: 50px;
}
.emailbutton{
    width: 100%;
    border: none;
    height: 50px;
    background-color: rgb(29, 66, 177);
    font-size:1.2em;
    color: white;
    margin-top: 20px;
}
.emailItem{
    margin: auto;
    border: 2px solid whitesmoke;
    padding: 20px;
    margin-top: 20px;
}

.passwordinput{
    width: 100%;
    border: none;
    border-bottom: 1px solid whitesmoke;
    font-size:1.5em;
    text-align: center;
    height: 50px;
}
.passwordbutton{
    width: 100%;
    border: none;
    height: 50px;
    background-color: rgb(29, 66, 177);
    font-size:1.2em;
    color: white;
    margin-top: 20px;
}
.passwordItem{
    margin: auto;
    border: 2px solid whitesmoke;
    padding: 20px;
    margin-top: 20px;
}
.deletebutton{
    width: 100px;
    border: none;
    height: 50px;
    background-color: rgb(29, 66, 177);
    color: white;
    border-radius: 2px;
}