
body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.807);
}
.header{
    background-color: rgba(29, 66, 177, 0.464);
    height: 50px;
    font-size:3em;
    color: rgb(108, 1, 1);
    padding: 20px;
    text-align: right;
}
.logo{
    height: 100px;
    margin: auto;
    display: flex;
    position: absolute;
    top: 3%;
    left:43%;
    
}
.form{
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
::placeholder { 
    color: rgb(0, 0, 0);
  }
.emailinput{
    position: relative;
    left: 25%;
    width: 50%;
    border: none;
    border: 1px solid rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.595);
    font-size:1.5em;
    color:rgb(79, 78, 155);
    text-align: center;
    height: 50px;
}
.emailbutton{
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    border: none;
    border: 1px solid rgb(0, 4, 109);
    height: 50px;
    background-color: rgb(176, 7, 7);
    font-size:1.2em;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}
.emailItem{
    margin: auto;
    border: 2px solid whitesmoke;
    padding: 20px;
    margin-top: 20px;
}

.passwordinput{
    position: absolute;
    top:25%;
    left: 25%;
    width: 50%;
    border: none;
    border: 1px solid rgb(0, 4, 109);
    background-color: rgba(0, 0, 164, 0.595);
    font-size:1.5em;
    color:rgb(255, 255, 255);
    text-align: center;
    height: 50px;
}
.passwordbutton{
    width: 100%;
    border: none;
    height: 50px;
    background-color: rgb(29, 66, 177);
    font-size:1.2em;
    color: rgb(255, 0, 0);
    margin-top: 20px;
}
.passwordItem{
    margin: auto;
    border: 2px solid whitesmoke;
    padding: 20px;
    margin-top: 20px;
}
.intHead{
    position: relative;
    color: rgb(255, 0, 0);
    font-size: 50px;
    left: 35%;
}
.listBut{
    position: relative;
    left: 33%;
    width:14%;
    background-color: #070089;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
}
.newBut{
    position: relative;
    left: 34%;
    width:14%;
    border: none;
    background-color: #a70000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.list{
    color:white;
}
.list2{
    color:white;
    position: absolute;
    left: -29%;
    top: 100%;
}
.form2 {
    position: relative;
    left: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
  }
  
  .input2 {
    height: 50px;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 50px;
  }
  
  .submitbutton2 {
    height: 50px;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }